body{
	font-family: Arial, Helvetica, sans-serif;
	color: #7d7979;
}
.body-wrapper{
	margin: auto;
	width: 1440px;
}
.header{
	position: sticky;
    top: 0px;
    display: grid;
    background-color: white;
    height: 75px;
}
.company-name{
	position: relative;
	top: -6px;
	font-size: 17px;
	color: black;
	margin-left: 76px;
	margin-top: 40px;
}
.nav-bar{
	position: absolute;
	right:285px;
	font-size: 12px;
	top:25px;
}
.nav-bar ul{
	list-style-type: none;
}
.nav-bar ul li{
	display: inline;
}
.nav-bar a{
	text-decoration: none;
	margin-right: 22px;
	color: #7d7979;
}
.nav-bar a:hover, .dropbtn:hover{
	color: black;
    font-weight: bold;
}
.dropbtn{
	margin-right: 22px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -11px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
	color: black;
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.information{
	width: 862px;
	height: 244px;
	padding-top: 100px;
	text-align: center;
    line-height: 1.5;
    margin:auto;
    font-size: 28px;
    color: #252424;
}
.articles{
	height:500px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 30px;
	padding-left: 135px;
	padding-top: 100px;
	padding-right: 133px;
}
.article{
	height: 420px;
	width:369px;
}
.article img{
	margin-top: 27px;
	margin-bottom: 27px;
}
.read-more{
	border: 2px solid #6b6b6b;
	border-radius: 6px;
	width: 144px;
	height:43px;
	font-size: 12px;
    margin-top: 10px;
    color: black;
    line-height:43px;
    text-align: center;
}
.read-more:hover{
	border: 2px solid #2becdc;
	color: #2becdc;
}
.copyright{
	height:125px;
	position: relative;
	display: flex;
}
.footer-logo{
	position: absolute;
	right:30px;
}
.social{
	height:100px;
	margin: 15px auto 40px auto;
	text-align: center;
}
.social img{
	padding: 20px;
	opacity: 0.5;
}
.social img:hover{
	opacity: 1;
}